/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/

body {
  background-color: red;

  font-family: monospace;
  font-size: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  margin: 0;

  overflow: hidden;
}

h2 {
  font-size: 48px;

  color: gold;
}

#secret-document {
  display: flex;
  align-items: center;
}

#secret-document div {
  margin: 0 40px;
}

.separator {
  width: 6px;
  height: 80%;

  background-color: black;

  border-radius: 3px;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  background-color: transparent;
  user-select: auto;
  color: gold;
  text-decoration: underline;
}

#percentage {
  padding: 8px 16px;

  background-color: black;
  color: white;
}

#percentage span {
  color: gold;
}

#defeat {
  height: 100vh;
  width: 100vw;

  padding-bottom: 120px;

  background-color: black;
  color: gold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  text-align: center;
}

#defeat p:not(.russian) {
  margin-bottom: 20px;
  margin-top: 120px;
}

.russian {
  font-size: 36px;

  color: white;

  margin: 0;
}

.hidden {
  display: none !important;
}

::selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: white;
}
